<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT" value=""></add>
    <add key="ClientID" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="RedirectURL" value="SparkSdkWinUnitTest://redirect"/>
    <add key ="TestFixtureAppAddress01" value=""/>
    <add key ="AdminClientID" value=""/>
    <add key="AdminSecret" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestFixtureService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/TestFixtureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestFixtureService"
                contract="ServiceReference.ITestFixtureService" name="BasicHttpBinding_ITestFixtureService" />
        </client>
    </system.serviceModel>
</configuration>
